@import "../../styles/_variables.scss";

.loader {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;

  margin-top: 5em;

  &__content {
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    border: 0.3em solid $colorLightGrey;
    border-left-color: $colorDarkBlue;
    animation: load8 1.2s infinite linear;
  }
}

@keyframes load8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
