@import "../../styles/variables";

.error {
  &__title {
    text-align: center;
  }

  &__content {
    text-align: end;
  }

  &__link {
    color: blue;
    transition: color $transition;

    &:hover {
      color: $colorBlue;
    }
  }
}
