$screenTablet: 744px;
$screenDesktop: 1260px;

$gapContainerMobile: 20px;
$gapContainerTablet: 72px;
$maxWidthContainer: 1124px;

$maxWidthAvatar: 240px;
$minWidthAvatar: 100px;

$colorDarkBlue: darkslateblue;
$colorBlue: rgb(110, 98, 189);
$colorLightGrey: #ddd;

$transition: 300ms;
