* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

// .container {
//   margin: 0 20px;

//   @include onTablet {
//     margin: 0 72px;
//   }

//   @include onDesktop {
//     max-width: 1124px;
//     margin: 0 auto;
//   }
// }
